<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Collie</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}matrix-admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}matrix-admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}matrix-admin/css/matrix-login.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}matrix-admin/font-awesome/css/font-awesome.css" />
    <link rel='stylesheet' href="{{ STATIC_URL }}css/fonts-googleapis.css" />
</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="control-group normal_text"> <h3><img src="{{ STATIC_URL }}matrix-admin/img/dog3.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span>
                        <input class="form-control" type="text" placeholder="Username (Sign in with Xiaomi Email Account)" id="{{ form.username.id_for_lable }}" name="{{ form.username.html_name }}"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Password" id="{{ form.password.id_for_lable }}" name="{{ form.password.html_name }}"/>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-right"><button type="submit" class="btn btn-success"> Login</button></span>
            </div>
        </form>
    </div>

    <script src="{{ STATIC_URL }}matrix-admin/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}matrix-admin/js/matrix.login.js"></script>
</body>

</html>
